/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/.name
.idea/blade.xml
.idea/dictionaries/Dr_misbah.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/transfaring_co.iml
.idea/vcs.xml
.idea/workspace.xml
